<style>
:root {
  color-scheme: dark;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<div class="container">
  <section>
    <h1><%= e.status %> <%= e.message %></h1>
    <hr>
    <div><%= e.status %> <%= e.message %></div>
  </section>
</div>
