* {
  overflow: hidden;
}
html, body {
  color: #222;
  background-color: #888;
  height: 100vh;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #666;
}
*::-webkit-scrollbar-thumb {
    background: #333;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.section {
  align-items: center;
  display: flex;
  justify-content: center;
}
.area {
  margin: 0 1vw;
  padding: 0 1vw;
}
#svelte-app {
  width: calc((16vw + 16vh) / 2);
  height: 100%;
}
#busy-ts {
  color: #04d;
  padding: 0.3vh 1vw;
}
#busy {
  padding: 0.3vh 1vw;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  top: 3vh;
  right: 4vw;
}
.content {
  text-align: center;
}
.title {
  font-size: calc((5vh + 5vw) / 2);
  letter-spacing: calc((.3vh + .3vw) / 2);
  margin-bottom: calc((1vh + 1vw) / 2);
  padding-bottom: calc((1vh + 1vw) / 2);
}
.m-b-md {
  padding-bottom: calc((3vh + 3vw) / 2);
}
.links {
  padding: 1vh 5vw;
}
.links > a {
  color: #222;
  padding: 1vh 1vw;
  font-size: calc((2vh + 2vw) / 2);
  letter-spacing: calc((.3vh + .3vw) / 2);
  text-decoration: none;
  /* text-transform: uppercase; */
}
#time-span {
  min-width: 20vw;
  display: inline-grid;
  text-align: right;
}
.worm {
  font-size: calc((1.5vh + 1.5vw) / 2);
}
.worm span {
  padding: .3vh .3vw;
}
.inline-scroll {
  max-width: 92vw;
  display: inline-block;
  overflow-x: auto;
}

.anim-bound {
  -webkit-animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
  animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
}
@-webkit-keyframes bounce-text {
  60% {
    font-size: 7vw;
  }
  100% {
    font-size: 7vw;
  }
}
@keyframes bounce-text {
  60% {
    font-size: 7vw;
  }
  100% {
    font-size: 7vw;
  }
}
