* {
  overflow: hidden;
  font-size: 2.2vmin;
}

.dark-scheme {
  color-scheme: dark;
}

.light-scheme {
  color-scheme: light;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0.6;
  opacity: 0.7;
}

button {
  background: initial;
  border: 0;
}

button:enabled {
  cursor: pointer;
}

.button {
  font-size: 0.8em;
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 1.2em;
  display: inline-block;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #444;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.section {
  align-items: center;
  display: flex;
  justify-content: center;
}
.area {
  margin: 0.5em;
  padding: 0.5em;
}

#svelte-app {
  width: 8em;
  height: 100%;
  margin: 0.2em 2em;
}

.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  top: 1em;
  right: 2em;
}
.content {
  text-align: center;
}
.title {
  letter-spacing: 0.2em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
.title * {
  font-size: 2em;
}
.m-b-md {
  padding-bottom: 0.2em;
}
.link-area {
  max-width: 33em;
  margin: 0.6em auto;
}
.links {
  display: inline-block;
}
.links > a {
  color: #888;
  margin: 0.2em;
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.volume {
  min-width: 16em;
  display: flex;
  justify-content: space-around;
}
.worm span {
  font-size: 0.9em;
  padding: 1em 1em;
}
.inline-scroll {
  max-width: 28em;
  display: inline-block;
  overflow-x: auto;
}
.busy-ts {
  color: #04d;
}
.busy {
  color: #732;
}

.anim-bound {
  -webkit-animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
  animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
}
@-webkit-keyframes bounce-text {
  60% {
    font-size: 0.8em;
  }
  100% {
    font-size: 1em;
  }
}
@keyframes bounce-text {
  60% {
    font-size: 0.8em;
  }
  100% {
    font-size: 1em;
  }
}

#powered {
  position: fixed;
  font-family: 'Tangerine';
  font-size: 2em;
  right: 0.5em;
  bottom: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 0.5em 0.5em 0.3em 0.8em;
  opacity: 0.5;
}

.light-scheme #powered {
  color: white;
  background-color: #888;
}

.dark-scheme #powered {
  color: black;
  background-color: #888;
}

#powered:hover {
  text-decoration: overline dotted pink;
  text-shadow: 5px 5px 5px #666;
  opacity: 1;
}

.light-scheme #powered:hover {
  background-color: #222;
}

.dark-scheme #powered:hover {
  background-color: #ccc;
}
