* {
  overflow: hidden;
}

.dark-scheme {
  color-scheme: dark;
}

.light-scheme {
  color-scheme: light;
}

.button {
  padding: 1em;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 1em 1.5em;
  display: inline-block;
}

html, body {
  height: 100vh;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #666;
}
*::-webkit-scrollbar-thumb {
    background: #333;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.section {
  align-items: center;
  display: flex;
  justify-content: center;
}
.area {
  margin: 0 1vw;
  padding: 0 1vw;
}
#svelte-app {
  width: calc((16vw + 16vh) / 2);
  height: 100%;
}
#busy-ts {
  color: #04d;
}
#busy {
  color: #732;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  top: 3vh;
  right: 4vw;
}
.content {
  text-align: center;
}
.title {
  font-size: calc((5vh + 5vw) / 2);
  letter-spacing: calc((.3vh + .3vw) / 2);
  margin-bottom: calc((1vh + 1vw) / 2);
  padding-bottom: calc((1vh + 1vw) / 2);
}
.m-b-md {
  padding-bottom: calc((3vh + 3vw) / 2);
}
.links {
  margin: 1vh 5vw;
}
.links > a {
  color: #888;
  margin: 0.2em;
  display: inline-block;
  font-size: calc((2vh + 2vw) / 2);
  letter-spacing: calc((.3vh + .3vw) / 2);
  text-decoration: none;
  /* text-transform: uppercase; */
}
#time-span {
  min-width: 20vw;
  display: inline-grid;
  text-align: right;
}
.worm {
  font-size: calc((1.5vh + 1.5vw) / 2);
}
.worm span {
  padding: .3vh .3vw;
}
.inline-scroll {
  max-width: 84vw;
  display: inline-block;
  overflow-x: auto;
}

.anim-bound {
  -webkit-animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
  animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
}
@-webkit-keyframes bounce-text {
  60% {
    font-size: 7vw;
  }
  100% {
    font-size: 7vw;
  }
}
@keyframes bounce-text {
  60% {
    font-size: 7vw;
  }
  100% {
    font-size: 7vw;
  }
}

#powered {
  position: fixed;
  font-family: 'Tangerine';
  font-size: 300%;
  right: 0.5em;
  bottom: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 0.5em 0.5em 0.3em 0.8em;
  opacity: 0.5;
}

.light-scheme #powered {
  color: white;
  background-color: #888;
}

.dark-scheme #powered {
  color: black;
  background-color: #888;
}

#powered:hover {
  text-decoration: overline dotted pink;
  text-shadow: 5px 5px 5px #666;
  opacity: 1;
}

.light-scheme #powered:hover {
  background-color: #222;
}

.dark-scheme #powered:hover {
  background-color: #ccc;
}
